<div class='row'> <h1 class='page-header center-align the-head'>All quotes in database</h1> </div>
<div class='col-lg-8'>
  <table class='bordered hoverable'>
  <% @quotes.each do |quote| %>
  <tr>
    <td><%= quote.id %></td>
    <td><%= quote.the_quote.html_safe  %><br><br></td>
  </tr>
  <% end %>
  </table>
</div>
<div class='row'>
</div>
