<div class='row'> <h1 class='page-header center-align the-head'>All quotes in database</h1> </div>
<div class='col-lg-8'>
  <table class='bordered hoverable'>
  <% @quotes.each do |quote| %>
    <tr>
      <td>
        <% if current_user %>
          <% if current_user.admin%>
            <%= react_component 'AllQuotes', {quote: quote.the_quote.html_safe, quote_id: quote.id } %>
          <% else %>
            <%= react_component 'AllQuotesnoAdmin', {quote: quote.the_quote.html_safe, quote_id: quote.id } %>
          <% end %>
          <% else %>
            <%= react_component 'AllQuotesnoAdmin', {quote: quote.the_quote.html_safe, quote_id: quote.id } %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </table>
</div>
<div class='row'>
</div>
