<h1 class='page-header text-center the-head'>Quotes on Atheism</h1>

  <div class="special text-center">
    <% @quotes = Quote.where(id: rand(7..1800))%>
    <div class="special2 text-center">
     <%= "#{Quote.where(:id => rand(7..1800)).first.the_quote}" %>
    </div>
  </div>
  <div class='pull-right'>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- weLoveAtheism2 -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:120px;height:600px"
         data-ad-client="ca-pub-5362989041036391"
         data-ad-slot="4671044015"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <br><br>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Square -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:200px;height:200px"
         data-ad-client="ca-pub-5362989041036391"
         data-ad-slot="9076806811"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <div class="special3"><%= link_to 'Next Quote', root_path %></div>
  <br>
<div class='row'>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- bottom2 -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:728px;height:90px"
       data-ad-client="ca-pub-5362989041036391"
       data-ad-slot="5659229618"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
