<h1 class='page-header text-center the-head'>Quotes on Atheism</h1>

  <div class="special text-center">
    <% @quotes = Quote.where(id: rand(7..1800))%>
    <div class="special2 text-center">
     <%= "#{Quote.where(:id => rand(7..1800)).first.the_quote}" %>
    </div>
  </div>
  
  <div class="special3"><%= link_to 'Next Quote', root_path %></div>
