//@import "bootstrap-sprockets";
//@import "bootstrap";
@import "materialize";
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);

body{
  background-image: url('http://www.atheismapp.com/images/eggshell.jpg');
}

hr {
  border-top: 1px solid #b2b0b0;
}

.the-head {

  font-family: 'Poiret One', cursive;
}

.special {
  font-family: 'Josefin Sans', sans-serif;
  height: auto;
  max-width: 550px;
  background: linear-gradient(to bottom, #b5bdc8 0%,#828c95 100%,#28343b 100%);
  background-color: #9b9b9b;
  border-radius: 5px;
  font-size: 30px;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // margin-right: -50%;
  // transform: translate(-50%, -50%);
  box-shadow: 6px 6px 5px #888888;
}

.shadows {
  margin: 2%;
  box-shadow: 3px 3px 2px #888888;
}

.special2 {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.special3 {
  padding-top: 390px;
  padding-left: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.buttons-row {
  max-width: 550px;
}

.app-buttons {

  max-height: 50px;
  max-width: 150px;
  height: auto;
  width: auto;
  padding-right: 20px;
}
