@import "bootstrap.min";
@import "datatables.min";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);

body{
  background-color: grey;
}

.my-container{
  margin: 10px;
}

a.author{
  color: #565656;
  weight: bold;
}

a.authors{
  color: white;
  white: bold;
  &:hover{
    color: white;
  }
}

.the-head {
  font-family: 'Poiret One', cursive;
}

.app-buttons {
  max-height: 50px;
  max-width: 150px;
  height: auto;
  width: auto;
  padding-right: 15px;
}

.app-buttons2 {
  max-height: 50px;
  max-width: 150px;
  height: auto;
  width: auto;
  padding-left: 15px;
}

.bottom20{
  margin-bottom: 20%;
}

.topbottom15{
  margin-top: 15px;
  margin-bottom: 15px;
}

.sides75{
  margin-right: 75px;
  margin-left: 75px;
}

.right15{
  margin-right: 15px;
}

.fa-heart-o{
  cursor: pointer;
}

.fa-heart{
  cursor: pointer;
  color: red;
}

.top-bottom-30{
  padding-top: 30px;
  padding-bottom: 30px;
}

#quotes-table{
  width: 100%;
}

.favorite-quote{
  transform: translateY(30%);
}

#quotes-table tr{
  th{
    font-size: 1.8vh;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
  }
  td{
    font-size: 1.8vh;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
  }
}

footer{
  margin-top: 50px;
  margin-bottom: 50px;
}

.vertical-center{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.dataTables_filter{
  color: white;
}

.dataTables_length{
  color: white;
}

.white{
  color: white;
}

.shadows{
  box-shadow: 5px 5px black;
}

.cb-size{
  width: 75%;
  margin-top: 42px;
}
